<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>sqlParamFileName</param-name>
        <param-value>dbValue.txt</param-value>
    </context-param>
    <context-param>
        <param-name>sqlStrFileName</param-name>
        <param-value>sqlString.txt</param-value>
    </context-param>
    <context-param>
        <param-name>webAppVersion</param-name>
        <param-value>2.2.3</param-value>
    </context-param>
    <context-param>
        <param-name>propertiesPath</param-name>
        <param-value>/propreties/</param-value>
    </context-param>
    <context-param>
        <param-name>gameDatasPath</param-name>
        <param-value>/propreties/datas/</param-value>
    </context-param>
    <context-param>
        <param-name>needInitTable</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>maxGameRoomNum</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <param-name>maxGamePlayerNum</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>GameAdminPw</param-name>
        <param-value>963</param-value>
    </context-param>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>web.bussiness.gloable.EncodingFilter</filter-class>
        <init-param>
            <param-name>Encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>GameRoomInitServlet</servlet-name>
        <servlet-class>web.bussiness.provider.GameRoomInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameRoomInitServlet</servlet-name>
        <url-pattern>/GameRoomInitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameCreateRoom</servlet-name>
        <servlet-class>web.bussiness.provider.GameCreateRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameCreateRoom</servlet-name>
        <url-pattern>/GameCreateRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameCreatePlayer</servlet-name>
        <servlet-class>web.bussiness.provider.GameCreatePlayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameCreatePlayer</servlet-name>
        <url-pattern>/GameCreatePlayer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PickCard</servlet-name>
        <servlet-class>web.bussiness.sbo.PickCard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PickCard</servlet-name>
        <url-pattern>/PickCard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPublicCard</servlet-name>
        <servlet-class>web.bussiness.provider.GetPublicCard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPublicCard</servlet-name>
        <url-pattern>/GetPublicCard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitRoom</servlet-name>
        <servlet-class>web.bussiness.sbo.ExitRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitRoom</servlet-name>
        <url-pattern>/ExitRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPublicCardGroup</servlet-name>
        <servlet-class>web.bussiness.provider.GetPublicCardGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPublicCardGroup</servlet-name>
        <url-pattern>/GetPublicCardGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShuffleDeck</servlet-name>
        <servlet-class>web.bussiness.sbo.ShuffleDeck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShuffleDeck</servlet-name>
        <url-pattern>/ShuffleDeck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReloadDBDatas</servlet-name>
        <servlet-class>web.bussiness.sbo.ReloadDBDatas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReloadDBDatas</servlet-name>
        <url-pattern>/ReloadDBDatas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>web.bussiness.gloable.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayerInfoChange</servlet-name>
        <servlet-class>web.bussiness.sbo.PlayerInfoChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerInfoChange</servlet-name>
        <url-pattern>/PlayerInfoChange</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MsgBoarderServlet</servlet-name>
        <servlet-class>web.bussiness.sbo.MsgBoarderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MsgBoarderServlet</servlet-name>
        <url-pattern>/MsgBoarderServlet</url-pattern>
    </servlet-mapping>

</web-app>